body {
    font-family: 'Nunito', sans-serif;
    background-color: #fffcf9;
}

.btn-custom {
    color: #ffffff;
    background-color: #f69978;
}

.btn-primary:hover {
    color: #f69978;
    background-color: #010505;
    border-color: #8ad3d3
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: 3px 3px 5px #b3b3b3;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.page-link {

    position: relative;

    display: block;

    padding: 0.5rem 0.75rem;

    margin-left: -1px;

    line-height: 1.25;

    color: rgb(0, 0, 0);

    background-color: #ffffff;


}

.page-item.disabled .page-link {

    color: #868e96;

    pointer-events: none;

    cursor: auto;

    background-color: #f2bfac;

    border-color: #718393;

}

.page-item.active .page-link {

    z-index: 1;

    color: rgb(255, 255, 255);

    background-color: rgb(245, 152, 116);
    border: none;
}

.page-link:focus,
.page-link:hover {
    outline: none !important;
    box-shadow: none !important;
    color: #383838;

    text-decoration: none;

    background-color: #ffffff;

    border-color: #1b1b1b;

}

.alert-custom {
    background-color: #f2bfac;
    color: rgba(7, 7, 7, 0.5)
}

.textfield-radius {
    border-radius: 40px;
}

.button-radious {
    border-radius: 40px;
}

/* .nav-custom{
    background-color: rgba(184,216,213,255);
} */
.navbar-custom {
    background-color: rgba(184, 216, 213, 255);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(40, 44, 41);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(24, 24, 24, 0.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #201f1e;
}
.legendhaed {
    background-color: #63afab;
    color: white;
    border-radius: 10px;
    padding-left: 12px;
    margin-bottom: 30px;
  }

  .fieldset-ra {
    border-radius: 40px;
    width: 100%;
    align-content: center;
    background-color: rgb(247, 247, 247);
  }


.callout {
    position: fixed;
    bottom: 35px;
    right: 50px;
    margin-left: 20px;
    max-width: 300px;
    opacity: 80%;
    border-radius: 50px;
}

.callout-header {
    padding: 10px 20px;
    background: whitesmoke;
    font-size: 18px;
    color: black;
    width: 300px;
    height: 50px;
    opacity: 100%;
}

#opacityAlert:hover {
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.callout-container {
    padding: 3px 25px;
    background-color: white;
    width: 300px;
    color: black;
   }

.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.closebtn:hover {
    color: white;
}
.fade-in-image {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
