{% for i in book %}
<div class="col-xl-3 col-lg-6 col-md-6 col-12" style="margin-bottom: 10px;">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-head">
            <a href="{% url 'detail' i.pk %}">
                <img src="{{i.book_img.url}}" class="fade-in-image" style="width: 100%;">
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{i.book_price}} Bath.</h5>
            <p class="card-text">Book Name: {{i.book_name}}</p>
            <p class="card-text">{{i.book_des}}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"> <a href="{% url 'detail' i.book_id %}"
                        class="btn btn-custom button-radious btn-block">View&nbsp;<i class="fas fa-chevron-circle-right"></i></a></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}