{% extends 'layout/base.html' %}

<head>
    <title>{% block title_page %}Category : All Product{% endblock %}</title>
    <style>
        .img-ra {
            border-radius: 20px 20px 20px 20px;
        }

        .card-ra {
            border-radius: 20px 20px 20px 20px;
        }

              
    </style>
</head>

{% block content %}


<div style="height: 95vh;">
    <div class="row" style="margin-top:80px;">
        <div class="col-md-2">
            <h3>Category</h3>
                  </div>
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a style="text-decoration: none;color: teal;" href="{% url 'home' %} ">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">All category
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'allcategory' %}?text_search={{ text_search }}&{{sort}}"
                    class="list-group-item  list-group-item-action">
                    All Category
                </a>
                {% for i in category %}
                <a href="{% url 'category' i.pk %}?text_search={{ text_search }}&{{sort}}"
                    class="list-group-item list-group-item-action">{{i.book_id}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10 ">
            <div class="row ">
                <div class="col-md-10">
                    <span style="margin-top: 10px;">ค้นหา : {{ text_search }}</span>
                </div>
                <div class="col-xl-2">
                    <div class="dropdown">
                        <button class="btn btn-custom button-radious  dropdown-toggle btn-block" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{info}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                                href="{% url 'allcategory' %}?page=1&text_search={{ text_search }}&sort=asc">
                                <i class="fas fa-sort-amount-up-alt"></i> Sort : from least to most</a>
                            </a>
                            <a class="dropdown-item"
                                href="{% url 'allcategory' %}?page=1&text_search={{ text_search }}&sort=desc">
                                <i class="fas fa-sort-amount-up"></i> Sort : from most to least</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                {% include 'product/allproduct.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% include 'layout/pagination.html' %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(".dropdown-menu li a").click(function () {
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });

    </script>
    <script src="../static/js/text_anime.js"></script>
</div>
</body>
{% endblock %}