{% extends 'layout/base.html' %}
{% block content %}

<head>
    <title>{% block title_page %}Book Market Place : Home{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    
    <fieldset class="shadow p-3 mb-5 bg-white fieldset-ra" style="margin-top: 80px;">
        <legend class="legendhaed">
            <h3 style="margin-top: 7px;">All Category</h3>
        </legend>
        <div class="row">
            {% for i in categories %}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" style="margin-bottom: 10px;">
                <div class="card">
                    <a href="{% url 'category' i.pk %}">
                        <img src="{{i.category_img.url}}" class="fade-in-image" width="100%">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{i.category_name}}</h5>
                        <p class="card-text">{{i.category_detail}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    <fieldset class="shadow p-3 mb-5 bg-white fieldset-ra" style="margin-top: 20px;">
        <legend class="legendhaed">
            <h3 style="margin-top: 7px;">Recommended</h3>
        </legend>
        <div class="row">
            {% include 'product/recommend.html' %}
        </div>
        <ul class="pagination" style="justify-content: center;margin-top: 20px;">
            {% if book.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="?page={{book.previous_page_number}}&text_search={{ text_search }}&{{sort}}">Previous</a></li>
            {% endif %}

            {% for i in book.paginator.page_range %}
            <li class="page-item {% if book.number == i %}active{% endif %}"><a class="page-link"
                    href="?page={{i}}&text_search={{ text_search }}&{{sort}}">{{i}}</a></li>
            {% endfor %}

            {% if book.has_next %}
            <li class="page-item"><a class="page-link"
                    href="?page={{book.next_page_number}}&text_search={{ text_search }}&{{sort}}">Next</a></li>
            {% endif %}
        </ul>
    </fieldset>
    <div class="callout w3-animate-opacity w3-animate-bottom" id="opacityAlert">
        <div class="callout-header rounded-top"><i class="fas fa-bell"></i>&nbsp;Alert Message&nbsp;
            <span class="badge badge-pill badge-primary">1</span>
        </div>
        <button class="btn btn-dark closebtn" onclick="this.parentElement.style.display='none';">
            <i class="fas fa-times w3-animate-top" id="closealert"></i></button>
        <div class="callout-container rounded-bottom">
            <p style="margin-top: 10px; color: black">Welcome to Book Market Place</p>
        </div>
    </div>

</body>

{% endblock %}