{% extends 'layout/base.html' %}
{% load static %}

<head>
    <title>{% block title_page %}Contact : Book Market Place{% endblock %}</title>
    <style>
        .alert {
            margin-left: auto;
            margin-right: auto;
        }

        .card-body {
            height: 150px;
        }
    </style>
</head>
{% block content %}
<div style="height: 120vh;">
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb shadow bg-white rounded">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sign in or Sign up</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"> {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}alert-dismissible fade show"
                style="border-radius: 25px 25px 25px 25px;" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="card" style="box-shadow:0px 0px 10px 1px rgb(211, 211, 211)">
                <div class="card-header">
                    <h3>Sign in</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/check">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3" style="margin-top: 7px;">
                                <span>{{ login.username.label_tag }}</span>
                            </div>
                            <div class="col-md-9">
                                {{ login.username }}
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3" style="margin-top: 7px;">
                                <span>{{ login.password.label_tag }}</span>
                            </div>
                            <div class="col-md-9">
                                {{ login.password }}
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4 text-right">
                                <input class="btn btn-custom btn-block button-radious" type="submit" value="Login">
                            </div>
                        </div>
                        <p></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card" style="box-shadow:0px 0px 10px 1px rgb(211, 211, 211)">
                <div class="card-header">
                    <h3>Sign up</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-custom button-radious">Sign up</button>
                            <button type="reset" class="btn btn-danger button-radious">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script>
    function onSubmit(token) {
        console.log(token)
        $('#input-hidden').val(token)
        $('#contactform').submit()
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

{% endblock %}